<div>
  <div>

<% if current_user != nil %>
    <h1>
      Check a new email
    </h1>
    <form action="/insert_email" method="post">
      <div>
        <label for="subject_box">
          Subject
        </label>

        <input type="text" id="subject_box" name="query_subject" value="Event #<%= rand(1..1000).to_s %>">
      </div>
      
      <div>
        <label for="sender_box">
          Sender
        </label>

        <input type="text" id="sender_box" name="query_sender" value="sender@gmail.com">
      </div>
      
      <div>
        <label for="body_box">
          Body
        </label>

        <textarea id="body_box" name="query_body" rows="3"></textarea>
      </div>

      <button>
        Check pitch
      </button>
    </form>
  </div>
</div>

  <% if notice.present? %>
      <div style="color: green">
        <%= notice %>
      </div>
  <% end %>

  <% if alert.present? %>
      <div style="color: red">
        <%= alert %>
      </div>
  <% end %>

<hr>
<nav>
<a href="/">All</a>
<a href="/emails/yes">Yes</a>
<a href="/emails/no">No</a>
<a href="/emails/uncertain">Uncertain</a>
<a href="/emails/pitches">Pitches</a>
</nav>
<hr>

<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Subject
        </th>

        <th>
          Sender
        </th>

        <th>
          Subject
        </th>

        <th>
          Pitch status
        </th>

        <th>
          Pitch
        </th>

        <th>
          Last Updated
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_emails.each do |an_email| %>
      <tr>

        <td>
          <%= an_email.subject %>
        </td>

        <td>
          <%= an_email.sender %>
        </td>

        <td>
          <%= an_email.body %>
        </td>

        <td>
          <% if an_email.pitch_status == "Yes" %>
          <p style="color: green;"><%= an_email.pitch_status %></p>
          <% elsif an_email.pitch_status == "No" %>
          <p style="color: red;"><%= an_email.pitch_status %></p>
          <% elsif an_email.pitch_status == "Uncertain" %>
          <p style="color: orange;"><%= an_email.pitch_status %></p>
          <% else %>
          <%= an_email.pitch_status %>
          <% end %>
        </td>

         <td>
          <%= an_email.pitch %>
        </td>

        <td>
          <%= time_ago_in_words(an_email.updated_at) %> ago
        </td>

        <td>
          <a href="/emails/<%= an_email.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<% else %>
<p>Sign in to check and view emails</p>
<% end %>
