<div>
  <div>
    <h1>
      Email #<%= @the_email.id %> details
    </h1>

    <div>
      <div>
        <a href="/emails">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_email/<%= @the_email.id %>">
          Delete email
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @the_email.user_id %>
      </dd>

      <dt>
        Subject
      </dt>
      <dd>
        <%= @the_email.subject %>
      </dd>

      <dt>
        Body
      </dt>
      <dd>
        <%= @the_email.body %>
      </dd>

      <dt>
        Sender
      </dt>
      <dd>
        <%= @the_email.sender %>
      </dd>

      <dt>
        Pitch status
      </dt>
      <dd>
        <%= @the_email.pitch_status %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_email.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_email.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit email
    </h2>

    <form action="/modify_email/<%= @the_email.id %>"  method="post" >
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_email.user_id %>">
      </div>

      <div>
        <label for="subject_box">
          Subject
        </label>

        <input type="text" id="subject_box" name="query_subject" value="<%= @the_email.subject %>">
      </div>

      <div>
        <label for="body_box">
          Body
        </label>

        <textarea id="body_box" name="query_body"><%= @the_email.body %></textarea>
      </div>

      <div>
        <label for="sender_box">
          Sender
        </label>

        <input type="text" id="sender_box" name="query_sender" value="<%= @the_email.sender %>">
      </div>

      <div>
        <label for="pitch_status_box">
          Pitch status
        </label>

        <input type="text" id="pitch_status_box" name="query_pitch_status" value="<%= @the_email.pitch_status %>">
      </div>

      <button>
        Update email
      </button>
    </form>
  </div>
</div>

<hr>
