<div>
  <div>
    <h1>
      Email #<%= @the_email.id %> details
    </h1>

    <div>
      <div>
        <a href="/emails">
          Go back
        </a>
      </div>
    </div>

    <dl>
     
      <dt>
        <strong>Subject</strong>
      </dt>
      <dd>
        <%= @the_email.subject %>
      </dd>

      <dt>
        <strong>Sender</strong>
      </dt>
      <dd>
        <%= @the_email.sender %>
      </dd>

      <dt>
        <strong>Body</strong>
      </dt>
      <dd>
        <%= @the_email.body %>
      </dd>

      <dt>
        <strong>Status</strong>
      </dt>
      <dd>
        <%= @the_email.pitch_status %>
      </dd>

       <dt>
        <strong>Pitch</strong>
      </dt>
      <dd>
        <%= @the_email.pitch %>
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit email
    </h2>

    <form action="/modify_email/<%= @the_email.id %>"  method="post" >

      <div>
        <label for="subject_box">
          Subject
        </label>

        <input type="text" id="subject_box" name="query_subject" value="<%= @the_email.subject %>">
     
      </div>

         <div>
        <label for="sender_box">
          Sender
        </label>

        <input type="text" id="sender_box" name="query_sender" value="<%= @the_email.sender %>">
      </div>

      <div>
        <label for="body_box">
          Body
        </label>

        <textarea id="body_box" name="query_body"><%= @the_email.body %></textarea>
      </div>

      <div>
        <label for="pitch_status_box">
          Pitch status
        </label>

        <input type="text" id="pitch_status_box" name="query_pitch_status" value="<%= @the_email.pitch_status %>">
      </div>

        <div>
        <label for="pitch_box">
          Pitch
        </label>

        <input type="text" id="pitch_box" name="query_pitch" value="<%= @the_email.pitch %>">
      </div>

      <button>
        Update email
      </button>
    </form>
  </div>
</div>

<hr>

<div>
        <a href="/delete_email/<%= @the_email.id %>">
          Delete email
        </a>
 </div>
